@using Project1.ViewModels
@model Search
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css.map">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <style>
        select {
            padding: 10px;
            width: 200px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }
    </style>
   
</head>
<body>
    
    <div class="s007">
        <form method="post">
            <div class="inner-form">
                <div class="basic-search">
                    <div class="input-field">
                        <div class="icon-wrap">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                            </svg>
                        </div>
                        <input asp-for="NameOrAge" id="search" type="text" placeholder="Search by name or age..." />
                        <div class="result-count">
                            @{
                                var List = ViewData["people"] as List<MissingPerson>;
                                <span>@List.Count </span>
                            }results
                        </div>
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">Search by one or more</span>
                    <div class="row">
                        <div class="input-field">
                            <div class="input-select">
                                <select asp-for="Gender">
                                    <option placeholder="" value="">Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select asp-for="Govern" id="stateComboBox" onchange="city(this,'cityComboBox')">
                                    <option value=''>Governorate</option>
                                    <option>Alexandria</option>
                                    <option>Aswan</option>
                                    <option>Asyut</option>
                                    <option>Beheira</option>
                                    <option>Beni Suef</option>
                                    <option>Cairo</option>
                                    <option>Dakahlia</option>
                                    <option>Damietta</option>
                                    <option>Faiyum</option>
                                    <option>Gharbia</option>
                                    <option>Giza</option>
                                    <option>Ismailia</option>
                                    <option>Kafr El Sheikh</option>
                                    <option>Luxor</option>
                                    <option>Matruh</option>
                                    <option>Minya</option>
                                    <option>Monufia</option>
                                    <option>New Valley</option>
                                    <option>North Sinai</option>
                                    <option>Port Said</option>
                                    <option>Qalyubia</option>
                                    <option>Qena</option>
                                    <option>Red Sea</option>
                                    <option>Sharqia</option>
                                    <option>Sohag</option>
                                    <option>South Sinai</option>
                                    <option>Suez</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select asp-for="Ciry" id="cityComboBox">
                                    <option value=''>City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div >
                        <lable>Missing Date</lable>
                        <input asp-for="Date" class="row second" type="date" id="birthdaytime" >
                    </div>
                    <div class="row third">
                        <div class="input-field">
                            <button asp-action="index" class="btn-search">Search</button>
                            <button asp-action="Delete" class="btn-delete" id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/Cities.js"></script>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Governorate person was found</th>
                    <th scope="col">City person was found</th>
                    <th scope="col">Found Date</th>
                    <th scope="col">View More</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var peopleList = ViewData["people"] as List<MissingPerson>;
                    if (peopleList != null)
                    {
                        for (int i = 0; i < peopleList.Count; i++)
                        {
                            var person = peopleList[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@person.Name</td>
                                <td>@person.Gender</td>
                                <td>@person.Age</td>
                                <td>@person.FoundGovern</td>
                                <td>@person.FoundCity</td>
                                <td>@person.Date</td>
                                <td>
                                    <a asp-controller="MissingPeople" asp-action="Person" asp-route-id="@person.Id">Enter</a>
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
   

</body>

</html>